.header{
    text-align: center;
    border: 1px solid red;
}
input[type="text"],
input[type="number"],
input[type="date"]{
  border-radius: 8px;   /* میزان گردی لبه‌ها */
  border: 1px solid #ccc;
  padding: 6px 10px;
  outline: none;
  transition: 0.2s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007bff; /* تغییر رنگ مرز هنگام فوکوس */
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}
